/*Reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Clearfix*/
.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

/*Generici*/
body{
    font-family: Arial,  sans-serif, Verdana;
}
.container{
    max-width: 1000px;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
}

/*logo*/
.logo{
    background-color: rgb(255, 255, 255);
    height: 70px;
    margin-bottom: 30px;    
}

/*Menu navigazione*/
#main-header .main-menu li{
    list-style-type: none;
    text-transform: uppercase;
    display: inline-block;
    padding-right: 10px;
}

#main-header .main-menu li a{
    text-decoration: none;
    color:rgba(10, 22, 1, 0.637);
}

header{
    margin-bottom: 30px;
}

#principal-img{
    background-image: url("../img/banner.jpg");
    height: 450px;
    background-position: center center;
    border-radius: 10px;
    opacity: 1;
}
#principal-img p{
    font-size: 32px;
    color: white;
    padding: 270px 400px 2px 30px;
    text-align: justify;
}

address{
    font-size: 15px;
    color: white;
    font-style: normal;
    padding: 2px 400px 20px 30px;
    text-align: justify;
}