/*Reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Clearfix*/
.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

/*Generici*/
body{
    font-family: Arial,  sans-serif, Verdana;
}
.container{
    max-width: 1000px;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
}

/*logo*/
.logo{
    background-color: rgb(255, 255, 255);
    height: 70px;
    margin-bottom: 30px;    
}

/*Menu navigazione*/
#main-header .main-menu li{
    list-style-type: none;
    text-transform: uppercase;
    display: inline-block;
    padding-right: 10px;
}

#main-header .main-menu li a{
    text-decoration: none;
    color:rgba(10, 22, 1, 0.637);
}

header{
    margin-bottom: 30px;
}
/*spotlight*/
#principal-img{
    background-image: url("../img/banner.jpg");
    height: 450px;
    background-position: center center;
    border-radius: 10px;
    opacity: 1;
    margin: 30px 0;
}
#principal-img p{
    font-size: 32px;
    color: white;
    padding: 270px 400px 2px 30px;
    text-align: justify;
}

address{
    font-size: 15px;
    color: white;
    font-style: normal;
    padding: 2px 400px 20px 30px;
    text-align: justify;
}

/*leadership*/
h1{
    font-size: 40px;
    font-weight: 700;
}
.autore{
    font-size: 20px;
    color: rgba(1, 56, 33, 0.986);
    padding-left: 0;
}

.first-col > img{
    position: center;
    background-repeat: no-repeat;
    text-align: left;
    height: 100%;
    vertical-align: middle;

}
.second-col{
    position: center;
    background-repeat: no-repeat;
    text-align: left;
}

.text-img{
    vertical-align: bottom;
}


.leadership .columns .col{
    float: left;
    width: 25%;

}

.leadership .columns .col .second-col{ 
    /*width: calc(50% - 40px);*/
    padding: 0 20px;
    height: 100%;
    width: 100%;